/*Needed Property*/
/*-------------------------------------
font-family: 'Open Sans', sans-serif;
font-family: 'Noto Sans', sans-serif;
color: #3baafe 
--------------------------------------
*/
body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Noto Sans', 'Open Sans', sans-serif;
}
h4{
	text-transform: uppercase;
	font-weight: 700;
}
h5{
	text-transform: uppercase;
	font-weight: 700;
}
a:hover {
    text-decoration: none;
}
.all-in{
	overflow: hidden;
}
img{
	max-width: 100%;
}
.mb-30{
	margin-bottom: 30px;
}
/*Common CSS*/
.radious-50{
	border-radius: 50%;
}
.title {
	text-align: center;
	width: 100%;
	margin-bottom: 30px;	
}
.team-area .title{
	margin-bottom: 50px;
}
.title h3 {
	font-family: 'Noto Sans', sans-serif;
	color: #3baafe;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;
	position: relative;
	display: inline-block;
}
.title h3:before {
    content: "";
    position: absolute;
    left: -25px;
    top: 3px;
    bottom: 0;
    right: 0;
    background-image: url(../img/icons/1\ \(1\).png);
    background-repeat: no-repeat;
}
.title h3:after {
    content: "";
    position: absolute;
    top: 100%;
    right: -3px;
    width: 50px;
    height: 3px;
    background-color: #b6b6b6;
}
.section{
	padding-top: 80px;
	padding-bottom: 80px;
}
.special-title .title{
	text-align: left;
}
.special-title .title h3:before{
	display: none;
}
/*Header Area*/
.header {
	background: #fafafa;
}
.navbar {
	padding-left: 8px;
	padding-right: 8px;
}
.header .navbar-light .navbar-nav .nav-link {
    color: #999;
    text-transform: uppercase;
    padding: 20px 15px;
}
.header .navbar-light .navbar-nav .nav-item:last-child .nav-link {
	padding-right: 0;
} 
.header .navbar-light .navbar-nav .active {
	position: relative;
}
.header .navbar-light .navbar-nav .active:after {
    content: "";
    position: absolute;
    height: 3px;
    background: #3baafe;
    bottom: 14px;
    left: 15px;
    right: 15px;
}
/*Banner Area*/
.banner {
	background-color: #7a7878;
	background-image: url(../img/bg/1.jpg);
	background-size: cover;
	text-align: right;
	padding-top: 200px;
	padding-bottom: 200px;
	position: relative;
	z-index: 0;
	background-attachment: fixed;
}
.banner:after {
	content: "";
	position: absolute;
	background: rgba(122,120,120,.4);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}
.bann-title h2 {
	color: #e6e6e6;
	font-size: 48px;
	font-weight: 900;
	text-transform: uppercase;
	
}
.bann-title h2 span {
	color: #3baafe;
}
.bann-btn {	
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	padding: 20px 30px;
	text-decoration: none;
	background: #555;
	transition: .3s;
	display: inline-block;
	margin-left: 20px;
	
}
.bann-btn:hover {
	background-color: #fff;
	color: #777;
}
.btn-white {
	color: #777;
	background-color: #fff;
}
.bann-btn.btn-white:hover {
	background-color: #777;
	color: #fff;
}
.our-best {
	margin-top: 80px;
	margin-bottom: 40px;
}
/*Our Best Area*/
.best-item {
	background: #f5f5f5;
	position: relative;
	padding-top: 50px;
	padding: 30px;
	padding-right: 15px;
	transition: .3s;
	margin-bottom: 60px;
}
.best-icon {
	position: absolute;
	top: -30px;
	left: 30px;
}
.best-icon a {
    background: #555555;
    text-align: center;
    line-height: 56px;
    font-size: 25px;
    width: 65px;
    height: 65px;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    border: 5px solid #fff;
    transition: 1s;
}
.best-title {
    padding-top: 24px;
}
.best-title h4 {
	font-family: 'Noto Sans', sans-serif;
	color: #777777;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	position: relative;
	display: inline-block;
	text-align: left;
	position: relative;
	
}
.best-title h4:after {
    content: "";
    position: absolute;
    top: 100%;
    right: -3px;
    width: 50px;
    height: 3px;
    background-color: #fff;
    box-shadow: 2px 2px 2px #dadada;
    transition: .3s;
}
.best-content {
    padding-top: 10px;
}
.best-item:hover .best-icon a {
	background: #3baafe;
	transform: rotate(360deg);
} 
.best-item:hover .best-title h4:after {
	background: #3baafe;
}
.best-item:hover {
	box-shadow: 5px 5px 5px #dadada;
}
/*=====================
WHY CHOSE AREA??
=======================*/
.we-do .title{
	margin-bottom: 60px;
}
.why-us{
	background-image: url("../img/team/1.jpg"), url("../img/team/4.jpg");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: left, right;
}
.why-us .title{
    text-align: left;
	font-size: 24px;
	z-index: 6;
	position: relative;	
}
.why-us .title h3{
	z-index: 3;
}
.why-us .title .enter{
	color: #e2e2e2;
	top: 4px;
	left: 1px;
	z-index: 2;
	position: absolute;
}
.why-us .title h3{
	color:#fff;  	
}
.why-us .title h3:before{
	display: none;	
}
.why-us .title h3:after{
  background: #3baafe;	
}
.why-us .title h3.enter:after{
	background: #e1e1e1;	
}
.why-in{
	background: #f5f5f5;
	padding: 50px 30px;
}
.why-main-content{
	padding: 30px 0;
}
.why-icons{
	width: 70px;
	float: left;
}
.why-icons i{
	width: 50px;
	height: 50px;
	display: inline-block;
	background: #fff;
	text-align: center;
	font-size:26px;
	line-height: 2;
	color: #555555;
}
.why-content{
	padding-left: 70px;
	margin-top: -3px;
}
.why-content h4{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	color:#777777;
}
/*=====================
WHY DO AREA??
=======================*/
.we-do .title{
	margin-bottom: 70px;
}
.we-do-icon-title{
	margin-bottom: 20px;
}
.we-do-icon{
	display: inline-block;	
}
.we-do-icon i{
	width: 45px;
	height: 45px;
	color: #fff;
	background: #555555;
	border-radius: 50%;
	line-height: 2.3;
	font-size: 20px;
	text-align: center;
}
.we-do-title{
	margin-left: 10px;
	display: inline-block;
}
/*=====================
WE WORK AREA START
=======================*/
/*.why-us-2{
	background-image: url(../img/003.jpg);
	background-size: 50%;
	background-position: right;
	background-repeat: no-repeat;
}*/
.we-work {
	background-image: url(../img/maxresdefault.jpg);
	background-size:cover;
	background-attachment: fixed;
	padding-top: 100px;
	padding-bottom: 100px;
}
.we-work .why-in{
	background: rgba(245,245,245,0.68);
	padding: 30px 50px;
}
.we-work h4{
	font-weight: 700;
	font-size: 18px;
}
/*========================
MEET OUR TEAM AREA START
==========================*/
.team-item{
	width:540px;
	background-color: #f5f5f5;	
	margin-bottom: 60px;
	margin-right: 20px;
}
.team-item:after,
.team-item:before{
	display: table;
	content: "";
	clear:both;
}
.img-social{
	width:215px;
    padding-left: 30px;
    position: relative;
    top: -30px;
	float: left;
}
.team-area .title{
	margin-bottom: 50px;
}
.img-social img{
	border: 10px solid #e6e6e6;
}
ul.team-social{
    display: table;
    margin: auto;
	padding: 0;
	margin-top: 15px;
}
.team-social li{
 	list-style: none;
	float: left;
	margin-right: 5px;
}
.team-social li a{
	width: 35px;
    height: 35px;
    background: #fff;
    color: #555;
    display: inline-block;
	font-size: 18px;
	border-radius: 50%;
	line-height: 2;
	text-align: center;
}
.member-name,.member-designation{
	background: #fff;
	display: inline-block;
	padding:15px 70px 25px 15px;	
	font-weight: 700;
	color:#3baafe;
	text-transform: uppercase;
	position: relative;	
}
.member-name:after,.member-designation:after{
	content: "";
    border-top: 62px solid #fff;
    border-right: 21px solid #ff000100;
    border-bottom: 11px solid #80808000;
    border-left: 0px solid transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
}
.member-name:before{
    content: "";
    right: -13px;
    position: absolute;
    
    height: 61px;
    background: #e6e6e6;
    bottom: 0;
    width: 3px;
    transform: rotate(18deg);
}
.member-designation{
	padding: 15px 33px 15px 10px;
	font-weight: 600;
	font-size: 12px;
	color:#999999;
	background-color: #e6e6e6;
	top:-15px;
}
.member-designation:after{	
    border-top: 50px solid #e6e6e6;
}
.team-content{
	padding-left: 215px;
	margin-top: 20px;
}
.team-content-in p{
	padding-left: 15px;
	text-align: inherit;
}
/*========================
QUALITY OF OUR WORK AREA START
==========================*/
.quality{
	background-color:#fafafa;
	
}
.qua-item-img{
	padding-top: 50px;
	padding-bottom: 50px;
}
.quality-item{
	background-color:#eeeeee;
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
	padding-left: 30px;
	z-index: 10;
}
.quality-item:after,
.quality-item:before{
	content: "";
	background-color:#eeeeee;
	position: absolute;
}
.quality-item:after{
	background: #eeeeee;
	top: 0;
	bottom: 0;
	left: -36px;
	right: -50000px;
	transform: skew(-9deg);
	z-index: -8;
	
}
.quality .title{
	text-align: left;
	margin-bottom: 30px;
}
.quality .title h3{
	color:#fff;
}
.quality .title h3:after{
	background-color: #3baafe;
}
.quality .title h3:before{
	content: "";
	display: none;
}
ul.quality-content{
	padding: 0;
	list-style: none;
	margin-top: 30px;
}
ul.quality-content li{
	position: relative;
	padding-left: 50px;
	margin-bottom: 30px;
}

ul.quality-content li:before{
	content: "\f061";
	font-family: "Font Awesome 5 free";
	font-weight:900;
	width: 35px;
	height: 35px;
	background: #fff;
	position: absolute;
	text-align: center;
	line-height: 2.3;	
	border-radius: 50%;	
	color:#555555;
	left:0;
	box-shadow: 2px 2px 2px;
}
/*========================
OUR PORTFOLIP AREA START
==========================*/
.port-nav ul{
	display: table;
	margin: auto;
	list-style: none;
	padding: 0;
}
.port-nav{
	width: 100%;
	margin-top: 30px;
}
.port-nav ul li{	
	float: left;
	background: #f5f5f5;
	padding: 10px 25px;
	color: #777777;
	margin-right: 10px;
	text-transform: uppercase;
	cursor: pointer;
}
.port-item{
	margin-top: 30px;
}
.port-single{
	position: relative;
}
.single-in{
	transform: scale(0);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(75, 157, 220, 0.8);
	transition:0.3s;
}
.port-single:hover .single-in{
	transform: scale(1);
}
.single-in a{
	width: 40px;
	height: 40px;
	background: #fff;
	display: inline-block;
	color:#8d8d8d;
	text-align: center;
	border-radius:50%;
	line-height: 3;
}
.port-items{
	transform: translate(-50%,-50%);
	top: 50%;
	position: absolute;
	left: 50%;
}

.desi{
	color:#fff;
}
/*=====================================
BEST WORK ENVIRONMENT AREA
=======================================*/
.environment{
	background-image: url("../img/maxresdefault.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
.environment .why-in{
	background: none;
	z-index: 0;
	position: relative;	
}
.environment .why-in:after{
	content: "";
	top: 0;
	left: 0px;
	right: -50000px;
	bottom: 0;
	background: rgba(49,48,48,.8);
	position: absolute;
	z-index: -5;
}
.environment h3{
	font-size: 18px;
}
.environment h5{
	font-size: 14px;
}
.environment p{
	font-size:14px;
	color:#999999;
}
.environment h3,.environment h5{
	color:#fff;
}
.environment .title h3:after{
	background:#3baafe;
}
.environment .we-do-icon i {
    width: auto; 
    height: auto; 
    color: #fff;
    background: none;
    font-size:14px;
}
/*=======================
FROM OUR BLOG AREA
========================*/
.blog-content .card-title{
	font-size:14px;
	color:#777777;
	font-weight: 700;
	text-transform: uppercase;
}
.blog-area .title{
	margin-bottom: 50px;
}
.card-body.card-top{
	background: #f5f5f5;
}
.card-body.card-bottom{
	background: #f5f5f5;
}
.card-bottom .card-link{
	font-weight: bold;
	text-transform: uppercase;
}
.card-bottom .card-link:first-child{
	color: #8d8d8d;
	font-size: 12px;
	float: left;	
}
.card-bottom .card-link:last-child{
	float: right;	
	color:#8d8d8d;
}
.card-bottom .card-link:last-child:hover{	
	color:#3baafe;
}

/*owl carousel*/
.blog-area .owl-theme .owl-nav {   
	position: relative;
}
.blog-area .owl-theme .owl-nav { 

	width: 85px;
	height: 45px;
}
.blog-area .owl-carousel .owl-nav button.owl-prev{
	position: absolute;
	left: 0;
	background: #555;
}
.blog-area .owl-carousel .owl-nav button.owl-next{
	position: absolute;
	right: 0;
	background: #555;
}
.blog-area .owl-theme .owl-nav button{
	display: inline-block;    
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 20px;
	background: #757575;
}
.blog-area .owl-theme .owl-nav span{
	color:#fff;
}
.blog-area .owl-theme .owl-nav span:hover{
	color:#fff;	
}
.blog-area .owl-theme .owl-nav button:hover{
	background:#3baafe;
}
.view{
	float:right;
	margin-top: -40px;
	cursor:pointer;
	font-size:14px;
	padding: 15px 30px;
	background:#757575;
	color:#fff; 
	text-transform: uppercase;
	font-weight: 700;
	position: relative;
	z-index: 9999999999;
}
.view a{
	color:#fff; 
}
/*===========================================================
TESTEMOINIAL AREA
=============================================================*/
.testemonial{
	background: #f7f7f7;
}
.testemonial .owl-theme .owl-nav {
    margin-top: 10px;
    width: 100px;
    /* height: 100px; */
    bottom: 27px;
    position: relative;
}
.testemonial .owl-theme .owl-nav button{
	display: inline-block;    
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 20px;
	background: #757575;
}
.testemonial .owl-theme .owl-nav span{
	color:#fff;
}
.testemonial .owl-theme .owl-nav span:hover{
	color:#fff;	
}
.testemonial .owl-theme .owl-nav button:hover{
	background:#3baafe;
}
.quote-content{
	background: #fff;
	font-size: 14px;
	color:#9999;
	padding: 45px 30px;
	padding-top: 115px;
	position: relative;
}
.quote-content:before{
	position: absolute;
	content:"\f10d";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 72px;
	top: 0;left: 30px;
	color:#3baafe;
}
.testemonial blockquote h4{
	font-size: 14px;
	color:#777777;
	font-weight: 700;

}
.testemonial blockquote footer{
	text-align: right;
	padding: 20px 40px;
}
.testemonial blockquote h6{
	font-size: 12px;
	color:#777777;
	font-weight: 700;
	text-transform: uppercase;	
}
.testemonial blockquote h5{
	font-size: 12px;
	color:#777777;
	font-weight: 700;	
}
.testi-sm-img{
	display: inline-block;	
}
.testi-main-img{
	background-image: url(../img/bg/1.jpg);
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 235px;
	background-size: 35% 100%;
	text-align: center;
}
.testi-sm-img img{
	width: 160px;
	height: 130px;
	padding-right: 15px;
	padding-left: 15px;
	border-radius: 50%;
}
.testi-575{
	display: none;
}
/*=============================================================
TESTEMOINIAL AREA
==============================================================*/
.pricing .title{
	margin-bottom: 40px;
}
.pricing-list{
	text-transform: uppercase;
	text-align: center;
	color:#999;
	margin-bottom: 30px;
}
.pricing-list .card, 
.pricing-list .card-header, 
.pricing-list ul li {
	border:none;
	border-radius: 0;
}
.pricing-list ul li:nth-child(odd){
	background: #fafafa;
}
.pricing-list ul li:nth-child(even){
	background: #f5f5f5;
}
.pricing-list ul li:nth-child(odd):hover{
	background: #ddd;
}
.pricing-list ul li:nth-child(even):hover{
	background: #cccc;
}
.card-header{
	background: #e6e6e6;
}
.card-header strong{
	font-family:'Noto Sans', 'Open Sans', sans-serif;
	font-size:18px;
	color: #fff;
	text-transform: uppercase;
} 
.card-header.card-footer-us{
	background: #e6e6e6;
	transition: 0.3s;	
}
.card-header.card-footer-us strong {	
	color:#777;
	transition: 0.3s;
}
.card-list-item span{
	font-size:30px;
	font-family: 'Noto Sans', 'Open Sans', sans-serif;
	font-weight: 700;
	color:#999;
}
.pricing-list:hover .card-footer-us{
	background: #3baafe;
	color:#fff;
}
.pricing-list:hover .card-header.card-footer-us strong{
	color:#fff;
}
.pricing-list:hover .card-header strong{
	color:#3baafe;
}
/*=============================================================
SOME FUN FACTS AREA
==============================================================*/
.fact{
	background:#2a2929;
	color:#fff;
}
.fact-title{
	text-align: center;
}
.fact-item ul{
	margin: 0;
	padding: 0;
	list-style: none;
	display: table;
	margin: 0 auto;
}	
.fact-item ul li{
	float: left;
	padding: 40px 30px;
}
.fact-item .fact-icon{
	width: 75px;
	float:left;
	display: inline-block;
	font-size: 40px;
	text-align: center;
	position: relative;
}
.fact-item .fact-icon:after{
	content: "";
    border-right: 2px solid #fff;
    position: absolute;
    top: 9px;
    right: 5px;    
    height: 44px
}
.fact-item .fact-text{
	display: inline-block;
	text-transform: uppercase;
}
.fact-item .fact-text strong {
	font-size: 24px;
	font-weight: 900;
}
/*=============================================================
-------------------Footers------------------------------------
==============================================================*/
.footer{
	background-color: #555555;
	padding-top: 80px;
}
.widget .title{
	margin-bottom: 15px;
}
.widget .title h3{
	color:#fff;
}
.widget .title h3:after{
	display:none;
}
.wid-content{
	color:#999999;
	font-size:14px;
}
.wid-social ul{
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 20px;	
}
.wid-social ul li{
	float: left;
	margin-right: 15px;
	
}
.wid-social ul li a{
	text-decoration: none;
	display: inline-block;
	width: 40px;
	height: 40px;
	background: #b6b6b6;
	border-radius: 50%;
	color:#555;
	text-align: center;
	line-height: 2.5;
	font-size: 18px;
}
.wid-social ul li a:hover{
	color:#fff;
}
.we-title{
	margin-bottom: 30px;
}
.we-title strong{
	color:#ffff;
	text-transform: uppercase;
}
/*address*/
.we-content {
	color:#999999;
}
.icon-left{
	width: 30px;
	float: left;
}
.icon-content{
	padding-left: 30px;
}
.u-link ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.u-link ul li a{
	color:#999999;
	text-decoration: none;
}
.u-link ul li a:hover{
	color:#fff;
}
/*contact*/
.contact .form-control{
	border-radius: 0;
	background: #b6b6b6;
	margin-bottom: 10px;
}
.contact textarea{
	height: 110px;
}
.copyright {
	color:#999999;
	text-align: center;
	border-top:1px solid #9999;
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}